<div class="form-container">
  <h1>Registration</h1>
  <form [formGroup]="registerForm">
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="registerForm.touched && getControls().name.errors">
        <p *ngIf="getControls().name.errors.required">Name is required</p>
        <p *ngIf="getControls().name.errors.minLength">Name should have minimum 3 characters</p>
        <p *ngIf="getControls().name.errors.maxLength">Name should have maximum 100 characters</p>
        <p *ngIf="getControls().name.errors.pattern">Name should contain just letters and white spaces</p>
      </div>
      <input placeholder="Name" type="text" formControlName="name"
             class="form-input" [class.invalid]="registerForm.touched && getControls().name.errors">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="registerForm.touched && getControls().email.errors">
        <p *ngIf="getControls().email.errors.required">Email is required</p>
        <p *ngIf="getControls().email.errors.email">Email should be a valid email address</p>
      </div>
      <input placeholder="Email" type="text" formControlName="email"
             class="form-input" [class.invalid]="registerForm.touched && getControls().email.errors">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="registerForm.touched && getControls().password.errors">
        <p *ngIf="getControls().password.errors.required">Password is required</p>
        <p *ngIf="getControls().password.errors.minLength">Password should have minimum 6 characters</p>
      </div>
      <input placeholder="Password" type="password" formControlName="password"
             class="form-input" [class.invalid]="registerForm.touched && getControls().password.errors">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="registerForm.touched && getControls().confirmPassword.errors">
        <p *ngIf="getControls().confirmPassword.errors.required">Confirm password is required</p>
        <p *ngIf="getControls().confirmPassword.errors.minLength">Confirm password should have minimum 6 characters</p>
        <p *ngIf="getControls().confirmPassword.errors.shouldMatch">Passwords should match</p>
      </div>
      <input placeholder="Confirm password" type="password" [ngClass]="" formControlName="confirmPassword"
             class="form-input" [class.invalid]="registerForm.touched && getControls().confirmPassword.errors">
    </div>
    <p *ngIf="error$ | async" class="error-msg">{{error$ | async}}</p>
    <div class="form-buttons-container">
      <button type="button" class="button" [disabled]="loaderStatus$ | async" [routerLink]="'/login'">Go to login</button>
      <button type="button" class="button" [disabled]="registerForm.invalid" (click)="register()">
        <span *ngIf="!(loaderStatus$ | async); else load">Register</span>
        <ng-template #load>
          <app-loader [status]="loaderStatus$ | async"></app-loader>
        </ng-template>
      </button>
    </div>
  </form>
</div>

