<div class="container">
  <form [formGroup]="cardForm">
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="cardForm.touched && getControls().owner.errors">
        <p *ngIf="getControls().owner.errors.required">Owner is required</p>
        <p *ngIf="getControls().owner.errors.minLength">Owner should have minimum 3 characters</p>
        <p *ngIf="getControls().owner.errors.maxLength">Owner should have maximum 100 characters</p>
        <p *ngIf="getControls().owner.errors.pattern">Owner should contain just letters and white spaces</p>
      </div>
      <input formControlName="owner" placeholder="Card owner" class="form-input" [class.invalid]="cardForm.touched && getControls().owner.errors">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="cardForm.touched && getControls().number.errors">
        <p *ngIf="getControls().number.errors">Number is incorrect</p>
      </div>
      <input type="tel" formControlName="number" placeholder="Card number" autocomplete="cc-number" id="cc-number" ccNumber
             class="form-input" [class.invalid]="cardForm.touched && getControls().number.errors">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="cardForm.touched && getControls().date.errors">
        <p *ngIf="getControls().date.errors">Expiration date is incorrect</p>
      </div>
      <input placeholder="Expire date" type="tel" autocomplete="cc-exp" id="cc-exp-date" formControlName="date" ccExp
             class="form-input" [class.invalid]="cardForm.touched && getControls().date.errors">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="cardForm.touched && getControls().cvv.errors">
        <p *ngIf="getControls().cvv.errors">CVV is incorrect</p>
      </div>
      <input type="tel" formControlName="cvv" placeholder="CVV/CVC" autocomplete="off" id="cc-cvc" ccCvc
             class="form-input" [class.invalid]="cardForm.touched && getControls().cvv.errors">
    </div>
    <p *ngIf="error" class="error-msg">{{error}}</p>
    <div class="form-buttons-container">
      <button type="button" class="button" [disabled]="loaderStatus" (click)="cancel()">Cancel</button>
      <button type="button" class="button" (click)="save()" [disabled]="cardForm.invalid">
        <span *ngIf="!loaderStatus; else load">Save</span>
        <ng-template #load>
          <app-loader [status]="loaderStatus"></app-loader>
        </ng-template>
      </button>
    </div>
  </form>
</div>
