<div class="form-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm">
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="loginForm.touched && getControls().email.errors">
        <p *ngIf="getControls().email.errors.required">Email is required</p>
        <p *ngIf="getControls().email.errors.email">Email must be a valid email address</p>
      </div>
      <input class="form-input" [class.invalid]="loginForm.touched && getControls().email.errors"
             placeholder="Email" type="text" formControlName="email">
    </div>
    <div class="form-input-container">
      <div class="form-error-msg" *ngIf="loginForm.touched && getControls().password.errors">
        <p *ngIf="getControls().password.errors.required">Password is required</p>
        <p *ngIf="getControls().password.errors.minLength">Password should have minimum 6 characters</p>
      </div>
      <input placeholder="Password" type="password" [ngClass]="" formControlName="password"
             class="form-input" [class.invalid]="loginForm.touched && getControls().password.errors">
    </div>
    <p *ngIf="error$ | async" class="error-msg">{{error$ | async}}</p>
    <div class="form-buttons-container">
      <button type="button" class="button" [disabled]="loaderStatus$ | async" [routerLink]="'/login/registration'">Registration</button>
      <button type="button" class="button" [disabled]="loginForm.invalid" (click)="login()">
        <span *ngIf="!(loaderStatus$ | async); else load">Login</span>
        <ng-template #load>
          <app-loader [status]="loaderStatus$ | async"></app-loader>
        </ng-template>
      </button>
    </div>
  </form>
</div>
