:host {
  width: 100%;
  height: 100%;
}

.text-container {
  width: 100%;
  cursor: default;
}

.buttons-container {
  display: inline-flex;
  float: right;
  padding-top: 15px;
}

.button-align {
  align-self: center;
  margin-left: 15px;
  cursor: pointer;
  min-width: 125px;
  width: auto;
}

.mat-dialog-title {
  ::ng-deep {
    margin: 0;
    font: inherit;
    color: inherit;
  }
}

.mat-dialog-content {
  ::ng-deep {
    padding: 0;
    margin: 0;
  }
}

.mat-dialog-actions {
  ::ng-deep {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.title {
  padding-bottom: 10px;
}

.text:not(:last-child) {
  padding-bottom: 10px;
}

.label {
  margin-bottom: 8px;
}
