:host {
  width: 100%;
}

.pay-label {
  margin-bottom: 10px;
  .price {
    text-decoration: underline;
  }
}

.card-select-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;

  .label {
    white-space: nowrap;
    padding-right: 5px;
  }

  .card-select {
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid;
    width: 100%;
    outline: none;
  }

  mat-select {
    ::ng-deep .mat-select-trigger {
      .mat-select-value {
        max-width: unset;
        color: inherit;
        font-weight: bold;
        font-size: 15px;
      }
    }
  }
}
