<div mat-dialog-title>
  <h1>Checkout</h1>
</div>
<div mat-dialog-content>
  <p class="pay-label">You should to pay <span class="price">{{price}}$</span></p>
  <div *ngIf="cards && cards.length ; else empty" class="card-select-container">
    <p class="label">Choose the card</p>
    <mat-select class="card-select" [value]="selected" (selectionChange)="onSelected($event)">
      <mat-option *ngFor="let card of cards" [value]="card">....{{card.number.slice(card.number.length - 5, card.number.length)}}</mat-option>
    </mat-select>
  </div>
  <ng-template #empty>
    <p *ngIf="!(showAddCardComp$ | async)">You haven't any cards yet. Press 'Add new card' button to add new one.</p>
  </ng-template>
  <app-add-card *ngIf="showAddCardComp$ | async"
                [error]="error$ | async"
                [loaderStatus]="loaderStatus$ | async"
                (onCancel)="hideAddCardComponent()"
                (onSave)="addCard($event)"></app-add-card>
  <p *ngIf="(error$ | async) && !(showAddCardComp$ | async)" class="error-msg">{{error$ | async}}</p>
</div>
<div mat-dialog-actions class="form-buttons-container">
  <button class="button" [disabled]="showAddCardComp$ | async" (click)="showAddCardComponent()">Add Card</button>
  <button class="button" [disabled]="(showAddCardComp$ | async) || !cards || !cards.length" (click)="pay()">
    <span *ngIf="!(loaderStatus$ | async) || ((loaderStatus$ | async) && (showAddCardComp$ | async)); else load">Pay</span>
    <ng-template #load>
      <app-loader [status]="loaderStatus$ | async"></app-loader>
    </ng-template>
  </button>
</div>
