@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
  font-weight: 500;
}

input, button, textarea {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: black;
}

p, h1 {
  margin: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.form-container {
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  box-shadow: 0 0 40px -10px rgba(0,0,0,0.75);
  border-radius: 10px;
  top: 150px;
  position: relative;
}

.form-input-container {

  .form-input {
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    outline: none;
    box-sizing: border-box;

    &.invalid {
      border-color: red;
    }
  }

  .form-error-msg {
    color: red;
    font-size: 12px;
  }
}

.form-input-container:not(:first-child) {
  margin-top: 10px;
}

.form-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.error-msg {
  font-size: 14px;
  color: red;
  margin: 5px 0;
}

.button {
  border-radius: 8px;
  border: 1px solid darkblue;
  max-width: 120px;
  width: 100%;
  height: 30px;
  padding-top: 2px;
  background: darkblue;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
}

.button:hover {
  background: darkblue;
  border: 1px solid darkblue;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background: cornflowerblue;
  opacity: 0.7;
  cursor: not-allowed;
}

.mat-dialog-container {
  box-shadow: 0 0 20px 2px gray !important;
  display: flex !important;
  padding: 15px !important;
  border-radius: 10px !important;
  overflow: hidden !important;
  color: inherit !important;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.4 !important;
}

.cdk-global-scrollblock {
  overflow: hidden !important;
}
