<div class="container">
  <div class="items-container">
    <div class="header">
      <h1>Basket items</h1>
      <div class="buttons-container">
        <button class="button" (click)="openCheckoutDialog()" [disabled]="!items.length"
                [title]="!items.length ? 'You have not any items in your basket' : 'Press to checkout'">
          Checkout
        </button>
        <button class="button" (click)="logout()">Logout</button>
      </div>
    </div>
    <div *ngIf="items && items.length ; else empty" class="scrollable">
      <div *ngFor="let item of items" class="item-container">
        <p class="item ellipsis">Name: <span class="value">{{item.name}}</span></p>
        <p class="item">Price: <span class="value">{{item.price}}$</span></p>
      </div>
    </div>
    <ng-template #empty>
      <p class="empty">There are no items yet. Please, add it using postman :)</p>
    </ng-template>
  </div>
</div>
