$header-height: 50px;

.container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid gray;
  border-right: 1px solid gray;

  .items-container {
    height: 100%;
    overflow: hidden;

    .header {
      height: $header-height;
      align-items: center;
      font-size: 20px;
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;

      h1 {
        margin: 0;
        display: flex;
        flex: 1;
      }

      .buttons-container {
        display: flex;
        flex-direction: row;

        .button:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .scrollable {
      overflow: auto;
      height: calc(100% - #{$header-height});

      .item-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid gray;

        .item {
          padding: 10px;
          color: gray;
          white-space: nowrap;

          .value {
            color: black;
          }
        }
      }
    }

    .empty {
      padding: 10px
    }
  }
}
