<div [ngSwitch]="status">
  <div *ngSwitchCase="LoaderStatus.Loading">
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div *ngSwitchCase="LoaderStatus.Success">
    <div class="success-ring">
      <span class="icon">&#10004;</span>
    </div>
  </div>
</div>
